html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
}

a:hover {
  text-decoration: none;
  color: #f9f9f9;
}

a {
  color: #f9f9f9;
}

.overlay {
  max-height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 500ms;
  z-index: 0;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.container {
  max-width: 1440px;
}

.col-3 {
  flex: 0 0 20%;
  max-width: 20%;
}

.h-20 {
  height: 20%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #f9f9f9;
  color: #f9f9f9;
  font-size: 16px;
}

.item {
  height: 23rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  letter-spacing: 0.063em;
  color: #555555;
  overflow: hidden;
  transition: all 0.5s;
  margin: 30px 2rem 2rem 2rem;
}
.item .item__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  overflow: hidden;
}
.item .item__link .item__title {
  font-size: 1.4em;
  color: #555555;
  margin-bottom: 5px;
}
.item .item__link .item__title .item__description {
  font-size: 1em;
}
.item .item__link .item__add--category {
  margin-top: 30%;
  transform: translateY(-30%);
  width: 2.5em;
}
.item .item__link .item__add--category-opacity {
  opacity: 0.5;
}
.item .item__link .item__add--text {
  font-family: inherit;
  font-weight: bold;
  color: #aaaaaa;
  font-size: 1em;
}

.item:hover .figure-img {
  margin-top: -20px;
  text-decoration: none;
}

.item:hover {
  margin-top: 10px;
}

.item--picture {
  width: 250px;
  height: 23rem;
}

.figure-img {
  height: 19rem;
  width: 100%;
  transition: all 0.5s;
}

/*.item:nth-child(3n+1){
    &.offset-xl-1{
        margin-left: 0;
    }
}*/
.item:nth-child(4n + 1) {
  margin-left: 0;
}

.btn__close {
  float: right;
  padding: 0;
  top: -1.5rem;
  background-color: transparent;
  border: none;
}
.btn__close.cat {
  top: -4rem;
}
.btn__close.photo {
  top: -5.5rem;
  right: -1.5rem;
}

.btn__close--text {
  font-weight: 500;
  letter-spacing: 0.063em;
}

.btn__add {
  background-color: #42c78d;
  float: right;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
.btn__add .btn__add__text {
  color: #f9f9f9;
  font-size: 1em;
}
.btn__add.cat {
  top: 5.5rem;
  right: 2em;
}
.btn__add.photo {
  top: -7rem;
}

.dropzone__btn__choose {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-weight: normal;
  background-color: #f9f9f9;
  border: 3px solid #aaaaaa;
  border-radius: 5px;
}

.dropzone__btn__choose--text {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 0.063em;
  color: #aaaaaa;
}

.lightbox__btn-arrows__box {
  width: 100%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.lightbox__btn-arrows {
  background-color: transparent;
  position: absolute;
  border: none;
}

.popup {
  background-color: #f9f9f9;
}

.popup__text {
  color: #555555;
  font-weight: 500;
  font-size: 1.5em;
  background-color: transparent;
}

.popup__input {
  background-color: #f9f9f9;
  width: 70%;
  border: none;
  padding-bottom: 1rem;
  margin: 5rem 1rem 2rem 0;
}

.popup__input:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 10px #719ece;
}

input[type="text"]::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 1.2em;
  letter-spacing: 1px;
  text-align: left;
  font-weight: bold;
  overflow: hidden;
  text-transform: uppercase;
  color: #aaaaaa;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.dropzone__h4 {
  font-family: inherit;
  font-weight: bold;
  color: #aaaaaa;
  font-size: 0.75em;
  letter-spacing: 0.063em;
  text-transform: uppercase;
}

.dropzone__p {
  font-weight: normal;
  letter-spacing: 0.063em;
  font-size: 0.6em;
  color: #aaaaaa;
}

.dropzone {
  height: 13em;
  border: 4px dashed #eeeeee;
  cursor: pointer;
}

.dropzone--active {
  border: 4px solid #eeeeee;
}

.horizontal-line-form {
  background-color: #aaaaaa;
  width: 92%;
  height: 2px;
  margin-top: -2rem;
  -webkit-filter: opacity(0.5);
}

.lightbox__btn-arrows {
  background-color: transparent;
}
.lightbox__btn-arrows.left {
  left: -7rem;
  transform: scale(1.5) rotate(180deg);
}
.lightbox__btn-arrows.right {
  right: -4rem;
  transform: scale(1.5);
}

.header-background--edge-fix {
  z-index: -100;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 297px;
}

.container-fluid {
  padding: 0;
}

.header {
  margin: 50px 0;
}

.header-text--big {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.063em;
}

.header-text--small {
  font-size: 1em;
  letter-spacing: 0.063em;
}

.header-background {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  background: url("");
  background-size: cover;
  background-position: center center;
  filter: brightness(70%) blur(3px);
  animation-duration: 3s;
  animation-delay: 0.5s;
  padding-bottom: 3px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

.horizontal-line {
  background-color: #f9f9f9;
  -webkit-filter: brightness(0.7);
  border-width: 0.0625em;
  height: 1px;
  margin-right: 16rem;
}

.footer__detail {
  margin-left: 15px;
  font-size: 0.875em;
  letter-spacing: 0.063em;
  color: #aaaaaa;
}

@media all and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
  .container {
    margin-left: 5rem;
  }
  .item {
    height: 17.5rem;
  }
  .horizontal-line {
    margin-right: 10rem;
  }
  .btn__add {
    background-color: #42c78d;
    margin-right: 50%;
    transform: translateX(50%);
  }
  .btn__add.cat {
    margin-right: 30%;
    transform: translateX(-30%);
    margin-top: 10%;
    transform: translateY(-10%);
  }
  .popup__input {
    width: 100%;
    padding: 0;
    margin: 1rem 0 1rem 0;
    text-align: center;
  }
  input[type="text"]::-webkit-input-placeholder {
    padding: 0;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 1.2em;
    letter-spacing: 0;
    text-align: center;
    font-weight: bold;
    overflow: visible;
    text-transform: uppercase;
    color: #aaaaaa;
  }
  .figure-img {
    height: 14rem;
    width: 100%;
    transition: all 0.5s;
  }
}

@media all and (max-width: 992px) {
  .item:nth-child(n + 1) {
    margin-left: 0;
  }
}

@media all and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .header-background {
    height: 220px;
  }
  .horizontal-line {
    display: none;
  }
  .header {
    margin: 3rem;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .btn__add.cat {
    top: 8rem;
    right: 0;
  }
  input[type="text"]::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  .item {
    height: 12.5rem;
    margin: 5px 5px;
  }
  .item__description {
    margin-top: -5px;
  }
  .item:hover .figure-img {
    margin-top: -10px;
    text-decoration: none;
  }
  .item:hover {
    margin-top: 5px;
  }
  .figure-img {
    height: 10rem;
    width: 100%;
    transition: all 0.5s;
    margin-bottom: 0;
  }
  .footer__detail {
    margin-left: 4rem;
  }
}

@media all and (max-width: 576px) {
  .figure-img {
    height: 13rem;
    width: 100%;
    transition: all 0.5s;
  }
}
